[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
configparser = "==4.0.2"
contextlib2 = "==0.6.0.post1"
coverage = "==5.3"
flake8 = "==3.8.4"
numpy = "==1.19.4"
pandas = "==1.1.4"
py = "==1.9.0"
pycodestyle = "==2.6.0"
pydotenv = "==0.0.7"
pyflakes = "==2.2.0"
pylint = "==2.6.0"
pyparsing = "==2.4.7"
pytest = "==6.1.2"
pytest-cov = "==2.10.1"
pytest-html = "==3.0.0"
pytest-metadata = "==1.10.0"
python-dateutil = "==2.8.1"
python-dotenv = "==0.14.0"
pytz = "==2020.4"
pyzmq = "==19.0.2"
requests = "==2.22.0"
selenium = "==3.141.0"
simplejson = "==3.17.0"
six = "==1.15.0"
toml = "==0.10.2"
typed-ast = "==1.4.1"
urllib3 = "==1.25.7"
yahooquery = "==2.2.15"
ConfigArgParse = "==1.2.3"
Pillow = "==8.1.1"

[requires]
python_version = "3.7"

