astroid==2.4.2
attrs==20.3.0
bottle==0.12.18
braintree==4.5.0
certifi==2019.11.28
chardet==3.0.4
click==7.1.2
ConfigArgParse==1.2.3
configparser==4.0.2
contextlib2==0.6.0.post1
coverage==5.3
gevent==20.9.0
geventhttpclient==1.4.4
googlefinance==0.7
greenlet==0.4.17
idna==2.8
importlib-metadata==2.0.0
numpy==1.19.4
packaging==20.4
pandas==1.1.4

py==1.9.0
pylint==2.6.0
pyparsing==2.4.7
pytest==6.1.2
pytest-cov==2.10.1
pytest-html==3.0.0
pytest-metadata==1.10.0
python-dateutil==2.8.1
python-dotenv==0.14.0
requests==2.22.0
requests-futures==1.0.0
six==1.15.0
toml==0.10.2
tqdm==4.52.0
typed-ast==1.4.1
urllib3==1.25.7
yahooquery==2.2.8

