annotated-types==*
anyio==*
beautifulsoup4==*
certifi==*
charset-normalizer==*
colour==*
contourpy==*
cycler==*
distro==*
fonttools==*
h11==*
httpcore==*
httpx==*
idna==*
kiwisolver==*
lxml==*
matplotlib==*
mplcursors==*
numpy==*
openai==*
packaging==*
pandas==*
pillow==*
pydantic==*
pydantic_core==*
pyparsing==*
python-dateutil==*
pytz==*
requests==*
requests-futures==*
six==*
sniffio==*
soupsieve==*
tkmacosx==*
tqdm==*
typing_extensions==*
tzdata==*
urllib3==*
yahooquery==*
